@import "tailwindcss";
@plugin "daisyui";



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(35, 35, 35);
  
}

.containerr {
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(62, 62, 62);
}

.nav-handle {
  padding: 10px 24px;
  background-color: rgb(35, 35, 35);
}
